body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 620px;
  align-items: center;
  font-size: 1.5em;
}


#calculette {
  background-color: rgb(162, 162, 162);
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.ecran {
  width: 380px;
  height: 80px;
  margin: auto;
  background-color: rgb(40, 40, 40);
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 380px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.touche {
height: 80px;
width: 80px;
background-color: rgb(207, 207, 207);
display: flex;
justify-content: center;
align-items: center;
}

#clear {
height: 80px;
width: 80px;
background-color: rgb(207, 207, 207);
display: flex;
justify-content: center;
align-items: center;
}

#egal {
height: 80px;
width: 80px;
background-color: rgb(207, 207, 207);
display: flex;
justify-content: center;
align-items: center;
}


.opera {
height: 80px;
width: 80px;
background-color: rgb(207, 207, 207);
display: flex;
justify-content: center;
align-items: center;
}
